~roger/research/ebayes/RankingRfiles.tar.gz filter=lfs diff=lfs merge=lfs -text
~roger/research/ebayes/rcbr4.tar.gz filter=lfs diff=lfs merge=lfs -text
~roger/movies/tibet.mov filter=lfs diff=lfs merge=lfs -text
