AddDescription "Mosque in Djenne" IMG_0639.jpg
AddDescription "Market in Djenne" IMG_0647.jpg
AddDescription "Cemetery in Pays Dogan" IMG_0655.jpg
AddDescription "Sacred Crocodile Pond" IMG_0664.jpg
AddDescription "Pays Dogon Village" IMG_0678.jpg
AddDescription "School Dedication 1" IMG_0684.jpg
AddDescription "School Dedication 2" IMG_0686.jpg
AddDescription "School Dedication 3" IMG_0701.jpg
AddDescription "School Dedication 4" IMG_0719.jpg
AddDescription "Niger River at Segou" IMG_0732.jpg
AddDescription "Bamako Street Scene" IMG_0748.jpg
AddDescription "Hannah at PSI" IMG_0754.jpg
AddDescription "Bamako mini-artisanat" IMG_0766.jpg
AddDescription "Bamako Street Scene" IMG_631.jpg
AddDescription "Diane in Pays Dogon" IMG_7157.jpg
AddDescription "Dogon Village" IMG_7159.jpg
